body{ 
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 12px;
	line-height: 1.6em; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #c7c8c1;
	background-image:  url(../images/templatemo_background.png);
	background-repeat: repeat;
}


#templatemo_header_wrapper {
	width: 100%;
	background: url(../images/templatemo_header.png) center bottom no-repeat 
}

#templatemo_header {
	width: 820px;
	min-height: 110px;
	padding: 40px 20px 20px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px
}

#templatemo_main_wrapper {
	width: 100%;
	background:url(../images/templatemo_wrapper.png) center top no-repeat
}

#templatemo_main {
	width: 935px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

#templatemo_footer_wrapper  {
	width: 100%;
	background: url(../images/templatemo_footer.png) center top no-repeat
}

#templatemo_footer {
	width: 780px;
	margin: 0 auto;
	padding: 20px 20px;
	text-align: center
}

#templatemo_header #intro_text { 
	margin-top: 20px; 
	font-size: 16px; 
}

#content{
	overflow:hidden;
	width: 7000px;
	position:relative;
	height: 500px;
}

#templatemo_menu {
	margin-top: 2%;
	padding: 0;
	list-style: none
}

#templatemo_menu li {
	display: block;
	float: left;
	width: 140px;
	height: 160px; 
	margin: 0 20px 20px 0;
	background: url(../images/menu_box.png) no-repeat
}

#templatemo_menu li a { 
	display: block; 
	width: 120px; 
	height: 30px; 
	padding: 130px 10px 0px; 
	background-repeat: no-repeat; 
	background-position: 15px 15px; 
	text-align: center; 
	line-height: 30px; 
	font-size: 14px; 
	color: #fff;
	text-decoration: none; 
}

#templatemo_menu li a:hover { 
	text-shadow: 1px 1px 1px #555; 
	text-decoration: underline;
}

#templatemo_menu li a.search { 
	background-image: url(../images/search_icon.png); 
}

#templatemo_menu li a.upload { 
	background-image: url(../images/upload.png); 
}

#templatemo_menu li a.newentry { 
	background-image: url(../images/new_entry.png); 
}

#templatemo_menu li a.review { 
	background-image: url(../images/view.png); 
}

#templatemo_menu li a.adduser { 
	background-image: url(../images/user.png); 
}

#templatemo_menu li a.contact { 
	background-image: url(../images/user_profile.png); 
}
